# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist

/Resources/Maps/ @Pspritechologist

/Resources/Prototypes/Maps @Pspritechologist
/Resources/Prototypes/SimpleStation14/ @Pspritechologist

/Resources/Textures/SimpleStation14/ @Pspritechologist

*.ftl @DEATHB4DEFEAT @Pspritechologist


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @TemporalPrdx
